.env
.venv/
.vscode/
Paper2Poster/
ablations/
**/__pycache__/
*_generated_posters/
*_images_and_tables/
contents/
tmp/
tree_splits/
eval_results/
Paper2Poster-data/
Example/
*.ipynb
eval_time_detail_parallel/
*.sh
.claude
CLAUDE.md
